@{
    ViewData["Title"] = "Zabrana pristupa";
}

<header>
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <p class="text-danger">Zabranjen je pristup ovom računu, molimo vas pokušajte kasnije.</p>
</header>
