@{
    ViewData["Title"] = "Potvrda o resetiranoj lozinci";
}

<h2>@ViewData["Title"]</h2>
<p>
    Vaša lozinka je resetirana. Molimo vas <a asp-action="Login">kliknite ovdje kako biste se prijavili</a>.
</p>
