@{
    ViewData["Title"] = "Izmjeni korisnika";
}

@model EditUserViewModel

<form asp-action="Update" asp-route-id="@Model.User.Id" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    @if  (@ViewData["Success"] != null) {
        <div class="alert alert-success">Korisnik spremljen</div>
    }
    <h3>
        <a asp-action="Index" title="Povratak na prethodnu stranicu">
            <i class="arrow-left"></i>
        </a>
        Izmjeni korisnika
    </h3>
    <div class="form-group">
        <label asp-for="User.Name">Ime:</label>
        <input type="text" class="form-control" asp-for="User.Name">
    </div>
    <div class="form-group">
        <label asp-for="User.Surname">Prezime:</label>
        <input type="text" class="form-control" asp-for="User.Surname">
    </div>
    <div class="form-group">
        <label asp-for="User.Phone">Telefon:</label>
        <input type="text" class="form-control" asp-for="User.Phone">
    </div>
    <div class="form-group">
        <label asp-for="User.Email">E-Mail adresa:</label>
        <input type="text" class="form-control" asp-for="User.Email">
    </div>
    <div class="form-group">
        <label asp-for="CompanyId">Tvrtka:</label>
        <select asp-for="CompanyId" asp-items="@(new SelectList((IEnumerable<Company>) @ViewData["Companies"],"Id", "Name"))" class="form-control"></select>
    </div>
    <button type="submit" class="btn btn-primary">Spremi</button>
    <a asp-action="Index">
        <button type="button" class="btn btn-secondary">Odistani</button>
    </a>
</form>
