@{
    ViewData["Title"] = "Dodaj tvrtku";
}

@model CompanyViewModel

<form asp-action="Create" method="POST">
    <div asp-validation-summary="All" class="text-danger"></div>
    <h3>
        <a asp-action="Index" title="Povratak na prethodnu stranu">
            <i class="arrow-left"></i>
        </a>
        Dodaj novu tvrtku
    </h3>

    <div class="form-group">
        <label asp-for="Name">Ime: </label>
        <input type="text" class="form-control" asp-for="Name">
    </div>
    <div class="form-group">
        <label asp-for="Adress">Adresa: </label>
        <input type="text" class="form-control" asp-for="Adress">
    </div>
    <div class="form-group">
        <label asp-for="CityId">Grad: </label>
        <select asp-for="CityId" asp-items="@(new SelectList((IEnumerable<City>) @ViewData["Cities"], "Id", "Name"))" class="form-control"></select>
    </div>
    <div class="form-group">
        <label asp-for="Logo">Logo: </label>
        <input type="text" class="form-control" asp-for="Logo">
    </div>
    <div class="form-group">
        <label asp-for="Description">Opis:</label>
        <input type="text" class="form-control" asp-for="Description">
    </div>
    <div class="form-group">
        <label asp-for="Website">Web stranica:</label>
        <input type="text" class="form-control" asp-for="Website">
    </div>

    <div class="form-group">
        <label asp-for="UserIds">Dodaj članove</label>
        <select multiple asp-for="UserIds" asp-items="@(new SelectList((IEnumerable<User>) @ViewData["Users"], "Id", "Name"))" class="form-control"></select>
    </div>

    <button type="submit" class="btn btn-primary">Spremi</button>
    <a asp-action="Index">
        <button type="button" class="btn btn-secondary">Odustani</button>
    </a>
</form>