@{ 
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h2>Upravljanje računom</h2>

<div>
    <h4>Izmjenite postavke računa</h4>
    <hr />
    <div class="row">
        <div class="col-md-12">
            @await Html.PartialAsync("_ManageNav")
        </div>
        <div class="col-md-12">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
        
