@{
    ViewData["Title"] = "Izmjeni obavijest";
}

@model Announcement

<form asp-action="Update" asp-route-id="@Model.Id" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Title">Naslov</label>
        <input class="form-control" type="text" asp-for="Title" placeholder="Unesi naslov">
    </div>

    <div class="form-group">
        <label asp-for="Message">Tekst obavijesti</label>
        <textarea class="form-control" asp-for="Message" placeholder="Unesi tekst"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Spremi izmjenu</button>
</form>
