@{
    ViewData["Title"] = "Pošalji poruku";
}

@model MessageViewModel

<form asp-action="Create" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="ReceiverId">Primatelj</label>
        <select asp-for="ReceiverId" asp-items="@(new SelectList((IEnumerable<User>) @ViewData["Users"], "Id", "Fullname"))" class="form-control"></select>
    </div>
    <div class="form-group">
        <textarea class="form-control" asp-for="Content" placeholder="Unesite poruku"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Pošalji</button>
</form>
